host: 0.0.0.0
port: 8000
endpoint: v1
log: debug

api:
  # - path: /chat/completions
  #   provider: gemini-dev
  #   override:
  #     model: gemini-1.0-pro

  # - path: /chat/completions
  #   provider: perplexity-dev
  #   override:
  #     model: mixtral-8x7b-instruct

  # - path: /chat/completions
  #   provider: openai-dev
  #   override:
  #     model: gpt-3.5-turbo

  - path: /chat/completions
    provider: anthropic-dev
    override:
      model: claude-3-opus-20240229
  
  # - path: /embeddings
  #   provider: openai-dev

  - path: /embeddings
    provider: gemini-dev
    override:
      model: embedding-001

providers:
  - name: perplexity-dev
    module: perplexity
    apiKey: <REDACTED>
    penaltyWhenConflict: presence # presence or frequency

  - name: gemini-dev
    module: gemini
    apiKey: <REDACTED>

  - name: openai-dev
    module: openai
    apiKey: <REDACTED>
    # baseURL: http://127.0.0.1:5000/ # set when use compatible backend

  - name: anthropic-dev
    module: anthropic
    apiKey: <REDACTED>
